DB_PASSWORD=superpassword
MYSQL_PASSWORD=${DB_PASSWORD}
MYSQL_ROOT_PASSWORD=${DB_PASSWORD}

SITE_OWNER=user@example.com

APP_KEY=abcd1234 # Random 32 char string
TZ=Europe/Paris

MAP_DEFAULT_LAT=45.463735
MAP_DEFAULT_LONG=9.182536
MAP_DEFAULT_ZOOM=6

APP_URL=http://finances.example.com
