LOCAL_DOMAIN=example.com

DB_PASS=superpassword
POSTGRES_PASSWORD=${DB_PASS}

SECRET_KEY_BASE=fed76691e9d8704cd97112b8c6df3a4614192c04f8333dd4be20e3416b830b734e70c62662207bb972665db8d51959f10e4603b8ecfa2f63d3ec8408d2dd618b # openssl rand -hex 64

# docker run --rm ghcr.io/mastodon/mastodon:v4.6.3 bin/rails db:encryption:init
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=74kAi8VL2oOxMuuOs85Y0rGfnMLbofz3
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=xMRNsZz0suHTjd5rv3Al7GU7nrzq4zV5
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=J0Jn5mY0a1U4g18pMy9BBSaUlTsW7mxv

# docker run --rm ghcr.io/mastodon/mastodon:v4.6.3 bundle exec rails mastodon:webpush:generate_vapid_key
VAPID_PRIVATE_KEY=1d0JcI78a4QBpDL3b0liBd3jCBxlyphwW19vf3P5qq0=
VAPID_PUBLIC_KEY=BAtZPX3yUEqYOpNO84VgHP3T9WHEpKFpgrRHXbPZV3NbeeVKs8QqrSEZHR-Hn1rz5KblzgQXEIuKgocOAaFirJk=

SMTP_SERVER=smtp.gmail.com
SMTP_LOGIN=notifications@gmail.com
SMTP_PASSWORD=changeme
SMTP_FROM_ADDRESS=notifications@gmail.com


