POSTGRES_PASSWORD=superpassword
REDIS_PASSWORD=superpassword

API_TOKEN_PEPPER_1='superapitoken'
DB_NAME=$POSTGRES_DB
DB_PASSWORD=$POSTGRES_PASSWORD
DB_USER=$POSTGRES_USER
EMAIL_FROM=no-reply@example.com
EMAIL_PASSWORD=superpassword
EMAIL_PORT=25
EMAIL_SERVER=smtp.example.com
EMAIL_SSL_CERTFILE=
EMAIL_SSL_KEYFILE=
EMAIL_TIMEOUT=5
EMAIL_USERNAME=no-reply@example.com
EMAIL_USE_SSL=false
EMAIL_USE_TLS=false

ALLOWED_HOSTS='*'

SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=superpassword

REDIS_CACHE_PASSWORD=$REDIS_PASSWORD
SECRET_KEY='superapitoken'
