GITEA__service__DISABLE_REGISTRATION=true

GITEA__server__ROOT_URL=http://gitea.example.com/
GITEA__server__SSH_DOMAIN=gitea.example.com
GITEA__server__SSH_PORT=2222

POSTGRES_PASSWORD=superpassword
GITEA__database__PASSWD=${POSTGRES_PASSWORD}
