POSTGRES_PASSWORD=superpassword
ZITADEL_MASTERKEY=abcdefg1234 # Generate using : tr -dc A-Za-z0-9 </dev/urandom | head -c 32
ZITADEL_EXTERNALDOMAIN=auth.example.com
ZITADEL_DATABASE_POSTGRES_DSN=postgresql://postgres:superpassword@zitadel_db:5432/zitadel?sslmode=disable

ZITADEL_FIRSTINSTANCE_ORG_NAME=Example Org
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_USERNAME=admin
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORD=changeme
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_EMAIL_ADDRESS=admin@example.com
